// RESET CSS

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// FONTS

// IRANSANS
@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;

  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Black.eot");
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Black.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/iransans/woff2/IRANSansWeb(FaNum)_Black.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/iransans/woff/IRANSansWeb(FaNum)_Black.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/iransans/ttf/IRANSansWeb(FaNum)_Black.ttf")
      format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: bold;
  font-weight: 700;
  font-display: swap;

  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Bold.eot");
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/iransans/woff2/IRANSansWeb(FaNum)_Bold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/iransans/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/iransans/ttf/IRANSansWeb(FaNum)_Bold.ttf")
      format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Medium.eot");
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/iransans/woff2/IRANSansWeb(FaNum)_Medium.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/iransans/woff/IRANSansWeb(FaNum)_Medium.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/iransans/ttf/IRANSansWeb(FaNum)_Medium.ttf")
      format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;

  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum).eot");
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum).eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/iransans/woff2/IRANSansWeb(FaNum).woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/iransans/woff/IRANSansWeb(FaNum).woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/iransans/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Light.eot");
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/iransans/woff2/IRANSansWeb(FaNum)_Light.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/iransans/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/iransans/ttf/IRANSansWeb(FaNum)_Light.ttf")
      format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("../fonts/iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */
      url("../fonts/iransans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/iransans/woff/IRANSansWeb(FaNum)_UltraLight.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/iransans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
      format("truetype");
}
// ANJOMAN
@font-face {
  font-family: "Anjoman";
  src: url("./../fonts/anjoman/Bold/bold.eot");
  src: url("./../fonts/anjoman/Bold/bold.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/anjoman/Bold/bold.woff") format("woff"),
    url("./../fonts/anjoman/Bold/bold.woff2") format("woff2"),
    url("./../fonts/anjoman/Bold/bold.ttf") format("truetype"),
    url("./../fonts/anjoman/Bold/bold.svg#Anjoman Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Anjoman";
  src: url("../fonts/anjoman/Regular/Regular.eot");
  src: url("../fonts/anjoman/Regular/Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/anjoman/Regular/Regular.woff") format("woff"),
    url("../fonts/anjoman/Regular/Regular.woff2") format("woff2"),
    url("../fonts/anjoman/Regular/Regular.ttf") format("truetype"),
    url("../fonts/anjoman/Regular/Regular.svg#Anjoman Regular") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Anjoman";
  src: url("../fonts/anjoman/Light/Light.eot");
  src: url("../fonts/anjoman/Light/Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/anjoman/Light/Light.woff") format("woff"),
    url("../fonts/anjoman/Light/Light.woff2") format("woff2"),
    url("../fonts/anjoman/Light/Light.ttf") format("truetype"),
    url("../fonts/anjoman/Light/Light.svg#Anjoman Light") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

// IRANSansXFaNum
@font-face {
  font-family: "IranSansFaNum";
  src: url("../fonts/IRANSansFaNum/eot/Bold.eot");
  src: url("../fonts/IRANSansFaNum/eot/Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSansFaNum/woff/Bold.woff") format("woff"),
    url("../fonts/IRANSansFaNum/woff2/Bold.woff2") format("woff2"),
    url("../fonts/IRANSansFaNum/ttf/Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IranSansFaNum";
  src: url("../fonts/IRANSansFaNum/eot/Medium.eot");
  src: url("../fonts/IRANSansFaNum/eot/Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSansFaNum/woff/Medium.woff") format("woff"),
    url("../fonts/IRANSansFaNum/woff2/Medium.woff2") format("woff2"),
    url("../fonts/IRANSansFaNum/ttf/Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IranSansFaNum";
  src: url("../fonts/IRANSansFaNum/eot/Regular.eot");
  src: url("../fonts/IRANSansFaNum/eot/Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSansFaNum/woff/Regular.woff") format("woff"),
    url("../fonts/IRANSansFaNum/woff2/Regular.woff2") format("woff2"),
    url("../fonts/IRANSansFaNum/ttf/Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IranSansFaNum";
  src: url("../fonts/IRANSansFaNum/eot/Light.eot");
  src: url("../fonts/IRANSansFaNum/eot/Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSansFaNum/woff/Light.woff") format("woff"),
    url("../fonts/IRANSansFaNum/woff2/Light.woff2") format("woff2"),
    url("../fonts/IRANSansFaNum/ttf/Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IranSansFaNum";
  src: url("../fonts/IRANSansFaNum/eot/UltraLight.eot");
  src: url("../fonts/IRANSansFaNum/eot/UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSansFaNum/woff/UltraLight.woff") format("woff"),
    url("../fonts/IRANSansFaNum/woff2/UltraLight.woff2") format("woff2"),
    url("../fonts/IRANSansFaNum/ttf/UltraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 90px;
  position: absolute;
  width: -webkit-fill-available;
  z-index: 1000;
  .menu-items {
    display: flex;
    direction: rtl;
    column-gap: 32px;

    & > ul {
      display: flex;
      column-gap: 32px;
      direction: rtl;

      & > li {
        list-style: none;
        position: relative;

        & > a {
          text-decoration: none;
          color: white;
          font-family: "IRANSans";
          font-weight: 400;
          font-size: 14px;
          line-height: 23.74px;
          display: flex;
          align-items: center;
          column-gap: 5px;
        }

        .openMega {
          position: absolute;
          width: max-content;
          top: 30px;
          transform: scaleY(0);
          transform-origin: top;
          opacity: 0;
          transition: 0.3s ease-in-out;

          svg {
            path {
              fill: #f6f6f6;
            }
          }

          .megaContainer {
            background-color: #f6f6f6;
            position: relative;
            top: -5px;
            right: -55px;
            display: flex;
            min-width: 900px;
          }

          .megaItems {
            padding: 24px 16px;
            position: relative;

            & > ul {
              position: relative;

              & > li {
                list-style: none;
                padding: 10px 0;
                margin-bottom: 10px;

                & > a {
                  text-decoration: none;
                  color: black;
                  font-family: "IRANSans";
                  font-weight: 400;
                  font-size: 14px;
                  display: flex;
                  align-items: center;
                  line-height: 23.74px;
                }

                .megaOpenItems {
                  padding: 24px 35px 37px 16px;
                  position: absolute;
                  top: -25px;
                  right: 100%;

                  ul {
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                    display: flex;
                    flex-direction: column;
                    flex-flow: column wrap;
                    max-height: 435px;

                    li {
                      list-style: none;
                      position: relative;
                      padding: 10px 0;
                      margin-left: 50px;
                      width: max-content;

                      a {
                        text-decoration: none;
                        color: black;
                        font-family: "IRANSans";
                        font-weight: 400;
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        line-height: 23.74px;
                      }
                    }
                  }
                }
              }

              & > li:hover {
                background-color: white;

                a {
                  font-weight: 700;
                }

                .megaOpenItems ul {
                  opacity: 1;
                  transition: 0.3s ease-in-out;
                }
              }
            }
          }

          .megaItems::after {
            content: "";
            position: absolute;
            background-color: #d9d9d9;
            height: 100%;
            width: 1px;
            left: 0;
            top: 0;
          }
        }
      }

      & > li:hover .openMega {
        transform: scaleY(1);
        transform-origin: top;
        opacity: 1;
        transition: 0.3s ease-in-out;
      }
    }
  }
}
footer {
  background-color: black;
  padding: 27px 90px 20px 90px;

  .footerDetails {
    direction: rtl;
    column-gap: 90px;
    display: flex;
    align-items: baseline;
    position: relative;

    h3 {
      font-family: "IRANSans";
      font-size: 16px;
      font-weight: 300;
      color: #0081b3;
      line-height: 24px;
      white-space: nowrap;
      margin-bottom: 12px;
    }

    h3:last-of-type {
      margin-top: 12px;
    }

    p {
      font-family: "IRANSans";
      line-height: 24px;
      color: white;
      font-size: 14px;
      font-weight: 200;
    }

    .bestSelling {
      a {
        font-family: "IRANSans";
        line-height: 24px;
        color: white;
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
        display: block;
      }
    }

    .socialBtns {
      display: flex;
      column-gap: 15px;

      a {
        background-color: white;
        border-radius: 50%;
        padding: 4px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .footerDetails::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #535353;
    bottom: -35px;
  }

  .copyRight {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    margin-top: 59px;

    .namaSite {
      display: flex;
      align-items: center;

      h5 {
        font-family: "IRANSans";
        font-weight: 200;
        color: #f8f7f7;
        font-size: 12px;
        margin-left: 5px;
      }
    }

    .copyTxt {
      h4 {
        font-family: "IRANSans";
        font-weight: 200;
        color: #f8f7f7;
        font-size: 14px;
      }
    }
  }
}
.productCat {
  .productCat-container {
    padding: 100px 147px 100px 154px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

    .grid {
      display: grid;
      justify-content: center;
      grid-gap: 40px;
      grid-template-areas:
        "item1 item2"
        "item1 item3";

      .productCatItem:nth-child(1) {
        grid-area: item1;
      }

      .productCatItem:nth-child(2) {
        grid-area: item2;
      }

      .productCatItem:nth-child(3) {
        grid-area: item3;
      }
    }

    .flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }

    .productCatItem {
      position: relative;
      height: fit-content;
      width: fit-content;
      .catItemTitle {
        position: absolute;
        bottom: 50px;
        width: 100%;
        z-index: 10;
        text-align: center;

        h3 {
          font-family: "IRANSans";
          color: white;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }

    .productCatItem::after {
      position: absolute;
      content: "";
      background: linear-gradient(
        180deg,
        rgba(249, 249, 249, 0) 50%,
        rgb(0 0 0 / 80%) 100%
      );
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
.banner {
  position: relative;
  width: 100%;
  img {
    width: 100%;
    filter: brightness(0.5);
  }
  .catTitle {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    text-align: center;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: white;
      font-family: "Anjoman";
      font-weight: 700;
      font-size: 32px;
    }
  }
}
.banner::after {
  position: absolute;
  content: "";
  background: linear-gradient(
    0deg,
    rgba(249, 249, 249, 0) 61%,
    rgba(0, 0, 0, 0.6446953781512605) 100%
  );
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.article {
  overflow-x: hidden;
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 16px;
    .siteName {
      p {
        font-family: "IranSansFaNum";
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .artDetail {
      display: flex;
      direction: rtl;
      column-gap: 60px;
      span {
        font-family: "IranSansFaNum";
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
      }
      .author,
      .artDate {
        column-gap: 8px;
        display: flex;
        align-items: center;
        direction: rtl;
      }
    }
  }
  .section3 {
    padding: 61px 81.5px;
    p {
      font-family: "IranSansFaNum";
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      text-align: right;
    }
  }
  .section4 {
    display: flex;
    direction: rtl;
    column-gap: 50px;
    padding: 0 89.5px 61px 89.5px;
    .txt4 {
      p {
        font-family: "IranSansFaNum";
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: right;
      }

      h3 {
        font-family: "IranSansFaNum";
        font-weight: 700;
        font-size: 16px;
        margin: 35px 0;
        line-height: 30px;
        text-align: right;
      }
    }
  }
  .section5 {
    display: flex;

    column-gap: 50px;
    padding: 0 89.5px 61px 89.5px;
    .txt4 {
      p {
        font-family: "IranSansFaNum";
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: right;
      }

      h3 {
        font-family: "IranSansFaNum";
        font-weight: 700;
        font-size: 16px;
        margin: 35px 0;
        line-height: 30px;
        text-align: right;
      }
    }
  }
  .section6 {
    position: relative;
    width: 100%;
    img {
      filter: brightness(0.3);
      width: 100%;
    }
    .phoneCounsel {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2 {
        font-size: 20px;
        font-family: "Anjoman";
        font-weight: 700;
        color: white;
        direction: rtl;
      }
      a {
        display: flex;
        margin-top: 40px;
        align-items: center;
        justify-content: center;
        background-color: #0081b3;
        border-radius: 80px 80px 80px 80px;
        text-decoration: none;
        color: white;
        font-family: "IranSansFaNum";
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding: 19.75px 40px;
      }
    }
  }
  .section7 {
    padding: 61px 81.5px;
    p {
      font-family: "IranSansFaNum";
      position: relative;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      text-align: right;
    }
    p::after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: -54px;
      right: 0;
      height: 2px;
      background-color: #e9e9e9;
    }
  }
  .section8 {
    padding: 40px 60px;
    .relatedProTitle {
      text-align: right;
      position: relative;
      h4 {
        font-family: "Anjoman";
        font-weight: 400;
        text-align: right;
        font-size: 18px;
        strong {
          font-weight: 700;
        }
      }
      span {
        position: absolute;
        right: 0;
        bottom: -21px;
        background-color: #0081b3;
        height: 2px;
        width: 50px;
      }
    }
    .relatedProducts {
      display: flex;
      justify-content: end;
      margin-top: 44px;
      gap: 24px;
      .proItem {
        a {
          text-decoration: none;
          img {
            padding: 17px 39.44px 27.47px 29.75px;
            border: 1px solid #e9e9e9;
          }
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          span {
            margin-top: 18.5px;
            font-family: "IRANSans";
            font-size: 14px;
            font-weight: 400;
            color: black;
          }
        }
      }
    }
  }
  .section9 {
    padding: 40px 89px 74px 89px;
    .relatedBlogsTitle {
      text-align: right;
      position: relative;
      h4 {
        font-family: "Anjoman";
        font-weight: 400;
        font-size: 18px;
        text-align: right;
        strong {
          font-weight: 700;
        }
      }

      span {
        position: absolute;
        right: 0;
        bottom: -21px;
        background-color: #0081b3;
        height: 2px;
        width: 50px;
      }
    }
    .relatedBlogs {
      display: flex;
      justify-content: end;
      margin-top: 44px;
      gap: 54.5px;
      .blogItem {
        .imgSec {
          position: relative;
          .blgDate {
            position: absolute;
            left: 0;
            bottom: -34px;
            direction: rtl;
            .blogDateTop {
              padding: 9px 6px;
              background-color: white;
              text-align: center;
              span {
                font-family: "IranSansFaNum";
                font-weight: 300;
                font-size: 10px;
                direction: rtl;
                line-height: 15px;
              }
            }
            .blogDateBtm {
              text-align: center;
              padding: 9px 6px;
              background-color: #0081b3;
              span {
                font-family: "IranSansFaNum";
                font-weight: 300;
                font-size: 10px;
                direction: rtl;
                line-height: 15px;
                color: white;
              }
            }
          }
        }
        .RelatedBlogDetail {
          position: relative;
          a {
            text-decoration: none;
            color: black;
            h6 {
              direction: rtl;
              font-family: "IranSansFaNum";
              font-size: 14px;
              font-weight: 500;
              line-height: 21px;
              padding: 12px 0 20px 0;
            }
          }
          p {
            text-align: right;
            font-size: 12px;
            font-family: "IranSansFaNum";
            font-weight: 300;
            width: 330px;
            line-height: 17px;
          }
        }
      }
    }
  }
}
.loadingTop {
  transform: translateY(30%);
  opacity: 0;
  transition: 0.5s ease-in;
}
.loadedTop {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s ease-in;
}
.loadingRight {
  transform: translateX(45%);
  opacity: 0;
  transition: 0.5s ease-in;
}
.loadedRight {
  transform: translateX(0);
  opacity: 1;
  transition: 0.5s ease-in;
}
.loadingLeft {
  transform: translateX(-45%);
  opacity: 0;
  transition: 0.5s ease-in;
}
.loadedLeft {
  transform: translateX(0);
  opacity: 1;
  transition: 0.5s ease-in;
}
.productList {
  .productListContainer {
    padding: 100px 90px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    .proListItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 18.5px;
      width: 30%;
      .proImg {
        padding: 17px 39.5px 27.5px 29.5px;
        border: 1px solid #e9e9e9;
      }
      .proItemTitle {
        a {
          font-size: 14px;
          line-height: 21px;
          text-decoration: none;
          font-family: "IRANSans";
          font-weight: 400;
          color: black;
        }
      }
    }
  }
}
.about-us {
  overflow-x: hidden;
  .section1 {
    display: flex;
    direction: rtl;
    padding: 100px 90px;

    .imgSec {
      width: min-content;
      p {
        width: fit-content;
        margin-top: 36px;
        font-size: 14px;
        font-family: "IRANSans";
        font-weight: 400;
        text-align: justify;
        line-height: 21px;
      }
    }
    h2 {
      width: -webkit-fill-available;
      text-align: center;
      font-size: 40px;
      font-family: "Anjoman";
      font-weight: 700;
      line-height: 62.76px;
      padding-left: 50px;
      margin-top: 171px;
    }
  }
  .section2 {
    display: flex;
    position: relative;
    margin: 110px 0;
    .message {
      position: absolute;
      z-index: 1;
      top: -90px;
      width: 35%;
      right: 0;
      background-color: #f5f5f5;
      padding: 181px 90px 114px 215px;
      .mTitle {
        text-align: right;
        position: relative;
        h4 {
          font-family: "Anjoman";
          font-weight: 400;
          font-size: 18px;
          text-align: right;
          strong {
            font-weight: 700;
          }
        }
        span {
          position: absolute;
          right: 0;
          bottom: -21px;
          background-color: #0081b3;
          height: 2px;
          width: 50px;
        }
      }
      p:first-of-type {
        margin: 33px 0;
      }
      p {
        font-family: "IRANSans";
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: justify;
        width: fit-content;
      }

      h4 {
        font-family: "IRANSans";
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
      }
    }
    .services {
      position: relative;
      z-index: 10;
      direction: rtl;
      img {
        filter: brightness(0.3) sepia(90%) blur(2px) hue-rotate(140deg)
          saturate(2);
      }
      .servicesTxt {
        position: absolute;
        top: 0;
        padding: 73px 123px 130px 127px;
        .mTitle {
          text-align: right;
          position: relative;
          h4 {
            font-family: "Anjoman";
            font-weight: 400;
            font-size: 18px;
            color: #c9c9c9;
            text-align: right;
            strong {
              color: white;
              font-weight: 700;
            }
          }
          span {
            position: absolute;
            right: 0;
            bottom: -21px;
            background-color: #0081b3;
            height: 2px;
            width: 50px;
          }
        }
        .detailServices {
          margin-top: 52px;
          h5 {
            margin-top: 24px;
            font-size: 16px;
            color: white;
            font-family: "IRANSans";
            font-weight: 700;
            line-height: 24px;
          }
          p {
            font-size: 14px;
            color: white;
            font-family: "IRANSans";
            font-weight: 100;
            line-height: 21px;
            text-align: justify;
            margin-top: 8px;
          }
        }
      }
    }
  }
}
.contactUs {
  .contactContainer {
    display: flex;
    justify-content: space-between;
    padding: 90px 120px;

    .contactDetail {
      text-align: right;
      h2 {
        font-size: 18px;
        line-height: 29.74px;
        font-weight: 700;
        font-family: "IranSansFaNum";
      }
      h3 {
        font-family: "IRANSans";
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        direction: rtl;
        margin-top: 18px;
      }
      p {
        font-family: "IRANSans";
        line-height: 21px;
        margin-top: 6px;
        font-weight: 300;
        font-size: 14px;
      }
      .socialBtns {
        margin-top: 18px;
        display: flex;
        direction: rtl;
        gap: 8px;
      }
    }
  }
}
.homePage {
  .relatedProTitle {
    h4 {
      font-size: 22px !important;
    }
  }
  .slideSection {
    height: 100vh;
    overflow: hidden;
    .defaultSlide {
      position: relative;
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        filter: brightness(0.7);
        transition: all 1s;
      }
      .defaultImg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: 1;
        transition: 0.5s;
        filter: brightness(0.7);
      }
      .defaultTitle {
        position: absolute;
        top: 40vh;
        z-index: 100;
        h1 {
          font-family: "Anjoman";
          font-weight: 900;
          font-size: 40px;
          color: white;
        }
      }
    }
    .sliderContainer {
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .categoryTitle {
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 130px;
        h2 {
          font-weight: 300;
          font-size: 20px;
          font-family: "IRANSans";
          color: white;
          position: relative;
        }
        h2::after{
          position: absolute;
          content: "";
          height: 1px;
          width: 40%;
          right: 0;
          bottom: 8px;
          background-color: #D1D1D1;
        }
        h2::before{
          position: absolute;
          content: "";
          height: 1px;
          width: 40%;
          left: 0;
          bottom: 8px;
          background-color: #D1D1D1;
        }
      }
      .defaultSlider {
        position: relative;
        width: 85%;
        height: 100%;
      }
      .home-swiper {
        position: absolute;
        left: 0;
        z-index: 100;
        right: 0;
        top: 0;
        bottom: 0;
        .swiper-slide {
          position: unset;
          display: flex;
          justify-content: end;
          flex-direction: column;
          img {
            width: 0;
            height: 0;

            transition: all 1s;
          }
          .slideDetail {
            position: relative;
            // height: 100vh;
            bottom: 0;
            z-index: 1000;
            padding: 20px 36px 60px 28px;
            a {
              text-decoration: none;
              color: white;
              direction: rtl;
              h3 {
                font-family: "IRANSans";
                font-weight: 700;
                line-height: 27.13px;
                text-align: center;
                font-size: 16px;
              }

              .slideDes {
                height: 0;
              }
              p {
                font-family: "IRANSans";
                font-weight: 300;
                font-size: 14px;
                line-height: 23.24px;
                text-align: justify;
                margin: 0;
                opacity: 0;
                padding: 0 36px 0 28px;
                transform-origin: bottom;
                transform: translateY(140%);
              }
              .arrowSection {
                position: absolute;
                bottom: -60%;
                opacity: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                // transition: 0.5s;
                .arrow {
                  position: absolute;
                  // transition: 0.5s;
                  bottom: -60%;
                }
              }
            }
          }
          .slideDetail:hover {
            p {
              margin: 28px 0 80px 0;
              transform-origin: bottom;
              transform: translateY(0);
              opacity: 1;
              transition: 0.5s;
            }
            .slideDes {
              height: 100%;
            }
            .arrowSection {
              bottom: 55px;
              opacity: 1;
              transition: 0.5s ease-in-out;
              .arrow {
                bottom: unset;
                transition: 1.5s;
                transition-delay: 0.5s;
              }
            }
          }
          .slideDetail:hover + .background {
            background-color: #a07963;
            transform: scaleY(1);
            transition: 0.2s;

            transform-origin: bottom;
          }
          .background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            transform: scaleY(0);
            left: 0;
            bottom: 0;
            transition: 0.2s;
            transform-origin: bottom;
          }
        }
      }
      .prevArrow {
        position: absolute;
        left: -3%;
        bottom: 50px;
        padding: 8px 12px;
        cursor: pointer;
      }
      .nextArrow {
        cursor: pointer;
        position: absolute;
        right: -3%;
        bottom: 50px;
        padding: 8px 12px;
      }
    }
  }
  .show {
    z-index: 100 !important;
    transition: 0.5s !important;
    opacity: 1 !important;
  }

  .relatedProTitle {
    text-align: right;
    position: relative;
    h4 {
      font-family: "Anjoman";
      font-weight: 400;
      text-align: right;
      font-size: 18px;
      strong {
        font-weight: 700;
      }
    }
    span {
      position: absolute;
      right: 0;
      bottom: -15px;
      background-color: #0081b3;
      height: 2px;
      width: 50px;
    }
  }
  .aboutHome {
    overflow-x: hidden;
    padding: 120px 89px;
    display: grid;
    grid-template-areas:
      "a a b b"
      "c d b b"
      "c e e e";
    gap: 55px;
    .aboutTxt {
      direction: rtl;
      // width: 60%;

      p {
        font-family: "IRANSans";
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin-top: 50px;
        text-align: justify;
      }
    }
    img {
      height: fit-content;
    }
    .grid:nth-child(1) {
      grid-area: a;
    }
    .grid:nth-child(2) {
      grid-area: b;
    }
    .grid:nth-child(3) {
      grid-area: c;
    }
    .grid:nth-child(4) {
      grid-area: d;
    }
    .grid:nth-child(5) {
      grid-area: e;
    }
  }
  .homeCompetition {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 90px 119px 90px;
    gap: 44px;
    .boxContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 26px;
      justify-content: center;
      .boxCompetition {
        width: 44%;
        display: flex;
        flex-direction: column;
        align-items: center;
        direction: rtl;
        row-gap: 30px;
        padding: 28.5px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
        .imgContainer {
          background-color: #7c1e3540;
          padding: 11.5px;
          border-radius: 50%;
        }
        h4 {
          font-family: "IRANSans";
          font-weight: 700;
          font-size: 14px;
          line-height: 21px;
          text-align: justify;
        }
        p {
          font-family: "IRANSans";
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          text-align: justify;
          padding: 0 32px;
        }
      }
    }
  }
  .productSlider {
    padding: 0 90px 120px 0;
    .swiperProductSlider {
      margin-top: 44px;
      .productSlide {
        .sliderBox {
          a {
            text-decoration: none;
            color: black;
            display: flex;
            flex-direction: column;
            row-gap: 18px;
            align-items: center;
            padding: 15px;
            h5 {
              text-align: center;
              font-family: "IRANSans";
              font-weight: 400;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .phone {
    position: relative;
    width: 100%;
    img {
      filter: brightness(0.3);
      width: 100%;
    }
    .phoneCounsel {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2 {
        font-size: 20px;
        font-family: "Anjoman";
        font-weight: 700;
        color: white;
        direction: rtl;
      }
      a {
        display: flex;
        margin-top: 40px;
        align-items: center;
        justify-content: center;
        background-color: #0081b3;
        border-radius: 80px 80px 80px 80px;
        text-decoration: none;
        color: white;
        font-family: "IranSansFaNum";
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding: 19.75px 40px;
      }
    }
  }
  .homeServices {
    display: flex;
    margin-top: 144px;
    direction: rtl;
    padding: 0 90px;
    justify-content: space-between;
    // column-gap: 135px;
    .rService {
      width: 40%;
      padding-left: 20px;
      .serviceDetail {
        margin-top: 70px;
        .serviceBox {
          direction: rtl;
          display: flex;
          column-gap: 24px;
          img {
            height: fit-content;
          }
          .boxTxt {
            h6 {
              font-size: 16px;
              font-family: "IRANSans";
              font-weight: 600;
              line-height: 24px;
            }
            p {
              font-family: "IRANSans";
              font-weight: 300;
              font-size: 14px;
              text-align: justify;
              line-height: 24px;
              margin-top: 8px;
            }
          }
        }
        .serviceBox:nth-child(2) {
          margin-top: 32px;
        }
      }
    }
    .lService {
      // width: 50%;
      position: relative;
      border: 14px solid #e8f4f8;
      top: -40px;
      img {
        transform: translate(30px, 30px);
      }
    }
  }
  .newestArticle {
    padding: 40px 89px 74px 89px;
    .relatedBlogsTitle {
      text-align: right;
      position: relative;
      h4 {
        font-family: "Anjoman";
        font-weight: 400;
        font-size: 22px;
        text-align: right;
        strong {
          font-weight: 700;
        }
      }

      span {
        position: absolute;
        right: 0;
        bottom: -21px;
        background-color: #0081b3;
        height: 2px;
        width: 50px;
      }
    }
    .relatedBlogs {
      display: flex;
      justify-content: end;
      margin-top: 44px;
      gap: 54.5px;
      .blogItem {
        .imgSec {
          position: relative;
          .blgDate {
            position: absolute;
            left: 0;
            bottom: -34px;
            direction: rtl;
            .blogDateTop {
              padding: 9px 6px;
              background-color: white;
              text-align: center;
              span {
                font-family: "IranSansFaNum";
                font-weight: 300;
                font-size: 10px;
                direction: rtl;
                line-height: 15px;
              }
            }
            .blogDateBtm {
              text-align: center;
              padding: 9px 6px;
              background-color: #0081b3;
              span {
                font-family: "IranSansFaNum";
                font-weight: 300;
                font-size: 10px;
                direction: rtl;
                line-height: 15px;
                color: white;
              }
            }
          }
        }
        .RelatedBlogDetail {
          position: relative;
          a {
            text-decoration: none;
            color: black;
            h6 {
              direction: rtl;
              font-family: "IranSansFaNum";
              font-size: 14px;
              font-weight: 500;
              line-height: 21px;
              padding: 12px 0 20px 0;
            }
          }
          p {
            text-align: right;
            font-size: 12px;
            font-family: "IranSansFaNum";
            font-weight: 300;
            width: 330px;
            line-height: 17px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1350px) {
  .boxCompetition {
    width: 40% !important;
  }
}
@media only screen and (max-width: 1290px) {
  .productList {
    .productListContainer {
      .proListItem {
        width: 30%;
        .proImg {
          width: 65%;
          img {
            width: -webkit-fill-available;
          }
        }
      }
    }
  }
  .contactUs {
    .contactContainer {
      iframe {
        width: 500px;
        height: 400px;
      }
    }
  }
}
